<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Telemedicine</title>
    <link rel="stylesheet" href="homepage.css">

    <script type="text/javascript">
      function zoom() {
        document.body.style.zoom = "80%"
      }
    </script>
  </head>
  <body>
    <header>
      <div class="container">
          <ul>
            <div class="header-left">
              <li><a class="home" href="/">Home</a></li>
              <li><a class="btnnav-telemedicine" href="/telemedicine">Telemedicine</a></li>
              <li><a class="btnnav-article" href="/article">Artikel</a></li>
              <li><a class="btnnav-contact" href="/contact">Kontak</a></li>
            </div>
            <div class="header-right">
              <% if Current.account%>
                <li><p> <a href="/login">Hello <%= Current.account.username %> !</p></a></li>
              <% else %>
              <li><a class="login" href="/login">Login</a></li>
              <% end %>
            </div>
          </ul>
      </div>
    </header>
    <div class="top-wrapper">
      <div class="top-left">
        <div class="left-welcome">
          <h3>Selamat datang di <span>Telemedicine</span></h3>
          <h4>Lakukan konsultasi online dengan dokter yang terpercaya, bersertifikat dan ahli di bidangnya</h4>
        </div>
        <div class="left-diagnoses">
          <h3>Diagnosa awal penyakit mental <span>GRATIS!</span></h3>
        </div>
        <a class="button-test" href="/diagnoses">Ambil test</a>
      </div>
      <div class="top-right">
        <img <%= image_tag("undraw_doctors_hwty.png",  height: 900, width: 1220) %>>
      </div>
    </div>
    <div class="guide-wrapper">
      <h3><center>Cara menggunakan layanan <span>live chat</span></center></h3>
      <div class="guide-container">
        <div class="guide-content">
          <div class="blue-box">
          </div>
          <h4>Pilih dokter berpengalaman yang tersedia oleh layanan Telemedicine, kemudian tekan tombol chat</h4>
        </div>
        <div class="guide-content">
        <div class="blue-box">
          </div>
          <h4>Silahkan tunggu beberapa saat untuk mendapatkan konfirmasi dokter</h4>
        </div>
        <div class="guide-content">
        <div class="blue-box">
          </div>
           <h4>Kamu bisa mulai untuk menjelaskan masalahmu kepada dokter untuk mendapatkan konsultasi</h4>
        </div>
      </div>
    </div>
    <div class="doctor-wrapper">
      <h2>Mulai chat dengan <span>dokter</span> sekarang</h3>
      <div class="doctor-card">
        <div class="dcard">
          <div class="dcard-bottom">
            <h3>Nama Dokter</h3>
            <div class="dcard-container">
            <h4>Tahun</h4>
            <h4>Rating</h4>
            </div>
            <a class="button-chat" href="#chat">Chat</a>
          </div>
        </div>
        <div class="dcard">
          <div class="dcard-bottom">
            <h3>Nama Dokter</h3>
            <div class="dcard-container">
            <h4>Tahun</h4>
            <h4>Rating</h4>
            </div>
            <a class="button-chat" href="#chat">Chat</a>
          </div>
        </div>
        <div class="dcard">
          <div class="dcard-bottom">
            <h3>Nama Dokter</h3>
            <div class="dcard-container">
            <h4>Tahun</h4>
            <h4>Rating</h4>
            </div>
            <a class="button-chat" href="#chat">Chat</a>
          </div>
        </div>
          <div class="dcard">
            <div class="dcard-bottom">
              <h3>Nama Dokter</h3>
              <div class="dcard-container">
              <h4>Tahun</h4>
              <h4>Rating</h4>
              </div>
              <a class="button-chat" href="#chat">Chat</a>
            </div>
          </div>
        <div class="dcard">
          <div class="dcard-bottom">
            <h3>Nama Dokter</h3>
            <div class="dcard-container">
            <h4>Tahun</h4>
            <h4>Rating</h4>
            </div>
            <a class="button-chat" href="#chat">Chat</a>
          </div>
        </div>
      </div>
      <a class="button-telemedicine" href="/telemedicine">Lebih lanjut</a>
    </div>
    <div class="article-wrapper">
      <h2>Baca artikel <span>Kesehatan Mental</span></h3>
        <div class="article-card">
          <div class="acard">
            <div class="acard-bottom">
              <h3>Judul Artikel</h3>
              <h4>Kesehatan Mental</h4>
              <a class="button-read" href="#chat">Baca</a>
            </div>
          </div>
          <div class="acard">
            <div class="acard-bottom">
              <h3>Judul Artikel</h3>
              <h4>Kesehatan Mental</h4>
              <a class="button-read" href="#chat">Baca</a>
            </div>
          </div>
        </div>
        <a class="button-article" href="/article">Lebih lanjut</a>
    </div>
    <div class="medicine-wrapper">
      <h2>Informasi <span>Obat</span> dan <span>Vitamin</span></h3>
      <div class="medicine-card">
        <div class="mcard">
          <div class="mcard-img">
          </div>
          <h4>Nama Obat</h4>
        </div>
        <div class="mcard">
          <div class="mcard-img">
          </div>
          <h4>Nama Obat</h4>
        </div>
        <div class="mcard">
          <div class="mcard-img">
          </div>
          <h4>Nama Obat</h4>
        </div>
        <div class="mcard">
          <div class="mcard-img">
          </div>
          <h4>Nama Obat</h4>
        </div>
        <div class="mcard">
          <div class="mcard-img">
          </div>
          <h4>Nama Obat</h4>
        </div>
        <div class="mcard">
          <div class="mcard-img">
          </div>
          <h4>Nama Obat</h4>
        </div>
      </div>
      <a class="button-medicine" href="/medicine">Lebih lanjut</a>
    </div>
  </body>
</html>
