
            <div class="medicine-wrapper">
                <h2>Daftar Obat <span>Kesehatan Mental</span></h3>
                <div class="medicine-card">
                    <% @medicines.each do |medicine| %>
                    <div class="mcard">
                        <div class="mcard-img">
                        </div>
                        <h4><%= medicine.name %></h4>
                        <h5><%= medicine.description %></h5>
                    </div>
                    <% end %>
                </div>
            </div>
    