<div id="<%= dom_id meeting %>">
  <p>
    <strong>Tanggal:</strong>
    <%= meeting.tanggal %>
  </p>
  <p>
    <strong>Dokter:</strong>
    <%= meeting.doctor %>
  </p>
  <p>
    <strong>Zoom link:</strong>
    <%= link_to meeting.zoom_link, meeting.zoom_link%>

  </p>

</div>
