<!DOCTYPE HTML>

<html>
    <head>
        <meta charset="utf-8">
        <title>Telemedicine</title>
        <link rel="stylesheet" href="diagnoses.css">
    </head>
    <body>
        <header>
            <ul>
                <div class="header-left">
                <li><a class="btnnav-home" href="/">Home</a></li>
                <li><a class="btnnav-telemedicine" href="#telemedicine">Telemedicine</a></li>
                <li><a class="btnnav-article" href="#article">Artikel</a></li>
                <li><a class="btnnav-contact" href="#contact">Kontak</a></li>
                </div>
                <div class="header-right">
                <li><a class="login" href="#login">Login</a></li>
                </div>
            </ul>
        </header>
        <div class="top-wrapper-diagnoses">
            <div class="title">
                <h3>Mental Health Test</h3>
                <h4>Dalam 2 Minggu terakhir, bagaimana kondisi anda sesuai dengan pertanyaan di bawah</h4>
            </div>
        </div>
        <div class="question-wrapper">
            <form class="question">
                <h3>1. Merasa tidak nyaman dalam melakukan aktivitas sehari-hari</h3>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="0" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn-label" for="btnradio1">Tidak sama sekali</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="1" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn-label" for="btnradio2">Selama beberapa hari</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="2" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn-label" for="btnradio3">Beberapa hari seminggu</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="3" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn-label" for="btnradio4">Hampir setiap hari</label>
                        </div>
                </div>
            </form>
            <form class="question">
                <h3>2. Merasa down, depresi dan tidak ada harapan</h3>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="0" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn-label" for="btnradio1">Tidak sama sekali</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="1" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn-label" for="btnradio2">Selama beberapa hari</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="2" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn-label" for="btnradio3">Beberapa hari seminggu</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="3" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn-label" for="btnradio4">Hampir setiap hari</label>
                        </div>
                </div>
            </form>
            <form class="question">
                <h3>3. TIdak bisa tidur atau terlalu banyak tidur</h3>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="0" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn-label" for="btnradio1">Tidak sama sekali</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="1" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn-label" for="btnradio2">Selama beberapa hari</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="2" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn-label" for="btnradio3">Beberapa hari seminggu</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="3" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn-label" for="btnradio4">Hampir setiap hari</label>
                        </div>
                </div>
            </form>
            <form class="question">
                <h3>4. Merasa cepat lelah</h3>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="0" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn-label" for="btnradio1">Tidak sama sekali</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="1" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn-label" for="btnradio2">Selama beberapa hari</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="2" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn-label" for="btnradio3">Beberapa hari seminggu</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="3" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn-label" for="btnradio4">Hampir setiap hari</label>
                        </div>
                </div>
            </form>
            <form class="question">
                <h3>5. Tidak nafsu makan atau terlalu banyak makan</h3>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="0" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn-label" for="btnradio1">Tidak sama sekali</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="1" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn-label" for="btnradio2">Selama beberapa hari</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="2" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn-label" for="btnradio3">Beberapa hari seminggu</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="3" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn-label" for="btnradio4">Hampir setiap hari</label>
                        </div>
                </div>
            </form>
            <form class="question">
                <h3>6. Merasa tidak enak dengan diri sendiri, atau merasa sebagai kegagalan bagi diri sendiri atau keluarga</h3>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="0" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn-label" for="btnradio1">Tidak sama sekali</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="1" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn-label" for="btnradio2">Selama beberapa hari</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="2" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn-label" for="btnradio3">Beberapa hari seminggu</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="3" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn-label" for="btnradio4">Hampir setiap hari</label>
                        </div>
                </div>
            </form>
            <form class="question">
                <h3>7. Sulit untuk fokus pada pekerjaan, seperti membaca atau menonton</h3>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="0" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn-label" for="btnradio1">Tidak sama sekali</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="1" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn-label" for="btnradio2">Selama beberapa hari</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="2" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn-label" for="btnradio3">Beberapa hari seminggu</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="3" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn-label" for="btnradio4">Hampir setiap hari</label>
                        </div>
                </div>
            </form>
            <form class="question">
                <h3>8. Bergerak atau berbicara lebih lambat agar orang lain memperhatikan, atau kebalikannya - Anda lebih menunjukkan aktivitas fisik yang lebih dari biasanya</h3>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="0" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn-label" for="btnradio1">Tidak sama sekali</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="1" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn-label" for="btnradio2">Selama beberapa hari</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="2" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn-label" for="btnradio3">Beberapa hari seminggu</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="3" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn-label" for="btnradio4">Hampir setiap hari</label>
                        </div>
                </div>
            </form>
            <form class="question">
                <h3>9. Pemikiran kalau anda lebih baik tiada, atau menyakiti diri sendiri secara fisik</h3>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="0" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn-label" for="btnradio1">Tidak sama sekali</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="1" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn-label" for="btnradio2">Selama beberapa hari</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="2" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn-label" for="btnradio3">Beberapa hari seminggu</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="3" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn-label" for="btnradio4">Hampir setiap hari</label>
                        </div>
                </div>
            </form>
            <form class="question">
                <h3>10. Jika anda memiliki masalah yang telah disebutkan diatas, seberapa sulitkah masalah tersebut mempengaruhi pekerjaan anda, saat di rumah, atau dengan orang lain?</h3>
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="0" name="btnradio" id="btnradio1" autocomplete="off">
                            <label class="btn-label" for="btnradio1">Tidak sulit sama sekali</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="1" name="btnradio" id="btnradio2" autocomplete="off">
                            <label class="btn-label" for="btnradio2">Terkadang terasa sulit</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="2" name="btnradio" id="btnradio3" autocomplete="off">
                            <label class="btn-label" for="btnradio3">Sulit</label>
                        </div>
                        <div class="answer">
                            <input type="radio" class="btn-answer" value="3" name="btnradio" id="btnradio4" autocomplete="off">
                            <label class="btn-label" for="btnradio4">Sangat sulit</label>
                        </div>
                </div>
            </form>
            <a class="btn-result" href="diagnoses/result">Hasil</a>
        </div>

    </body>
    <footer>
      <div class="footer-wrapper">
      </div>
    </footer>
</html>
