
<html>
    <head>
        <meta charset="utf-8">
        <title>Telemedicine</title>
        <link rel="stylesheet" href="diagnoses.css">
    </head>
    <body>
        <header>
            <ul>
                <div class="header-left">
                <li><a class="btnnav-home" href="/">Home</a></li>
                <li><a class="btnnav-telemedicine" href="/telemedicine">Telemedicine</a></li>
                <li><a class="btnnav-article" href="/article">Artikel</a></li>
                <li><a class="btnnav-contact" href="/contact">Kontak</a></li>
                </div>
                <div class="header-right">
                <li><a class="login" href="/login">Login</a></li>
                </div>
            </ul>
        </header>
        <div class="top-wrapper-diagnoses">
            <div class="title">
                <h3>Mental Health Test</h3>
                <h4>Dalam 2 Minggu terakhir, bagaimana kondisi anda sesuai dengan pertanyaan di bawah</h4>
            </div>
        </div>
        <div class="question-container">
            <div>
                <%= render "form", post: @diagnoses %>
            </div>
    </body>
</html>
