
        <div id="articles-container">
            <div class="article-wrapper">
                <h2>Baca artikel <span>Kesehatan Mental</span></h3>
                <div class="article-card">
                    <% @articles.each do |article| %>
                    <div class="acard">
                        <div class="acard-bottom">
                            <h3><%= article.title %></h3>
                            <h4>Kesehatan Mental</h4>
                          <a href="articles/<%= article.id %>">Show this article</a>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>