    <%= render 'header' %> 

    <div class="top-wrapper">
      <div class="top-left">
        <div class="left-welcome">
          <h3>Selamat datang di <span>Telemedicine</span></h3>
          <h4>Lakukan konsultasi online dengan dokter yang terpercaya, bersertifikat dan ahli di bidangnya</h4>
        </div>
      </div>
      <div class="top-right">
        <img <%= image_tag("undraw_doctors_hwty.png",class:"image",height: 800, width: 1100) %>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>



