    <%= render 'admin_page/header' %> 
<div class="container" >
  <h1>New doctor</h1>
  
  <%= render "form", doctor: @doctor %>
  
  <br>
  
  <div>
    <%= link_to "< Back", doctors_path,class:"btn btn-outline-secondary" %>
  </div>
</div>