<!-- <div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Is private:</strong>
    <%= room.is_private %>
  </p>

</div>
 -->

 <div> <%= link_to room.name, room %> </div>