.btnnav-article-home{
    background-color: #0080FF;
    padding:10px 25px;
    border-radius:50px;
    text-decoration: none;
}

.article-wrapper{
    height:850px;
    padding-top:80px;
    width:auto;
}

.article-wrapper h2{
    padding-left: 155px;
    font-weight: 700;
    font-size: 30px;
}

.article-wrapper span{
    color: #0080FF;
}

.article-card{
    padding:80px 20px 50px 20px;
    margin-left: 200px;
    margin-right: 200px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.acard{
    height:500px;
    width:800px;
    background-color: gray;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 25px;
}