<div id="<%= dom_id account %>">
  <p>
    <strong>Username:</strong>
    <%= account.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= account.password %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= account.role %>
  </p>

</div>
